# Importation des librairies

In [1]:
import pandas as pd
import numpy as np

# Récupération des datasets

In [2]:
social = pd.read_csv('/content/social_features.csv')
technical = pd.read_csv('/content/ubisoft_dataset_1h.csv')

# Lecture des datasets

In [3]:
social

                    date  score  upvote_ratio  num_comments
0    2022-08-12 06:42:30      1          0.57             8
1    2022-08-12 05:34:11      1          0.67             0
2    2022-08-12 04:45:33      0          0.50             0
3    2022-08-11 20:22:48      3          0.67             1
4    2022-08-11 15:57:24      8          0.90             3
..                   ...    ...           ...           ...
966  2022-05-10 03:21:51      0          0.33             0
967  2022-05-10 01:44:35      4          0.75            13
968  2022-05-10 00:11:14      0          0.47             2
969  2022-05-09 19:27:18      0          0.50             0
970  2022-05-09 15:25:14      1          1.00             1

[971 rows x 4 columns]

In [4]:
technical

,date,SMA_ratio,SMA_Volume_Ratio,Stochastic_15,Stochastic_Ratio,RSI_15,RSI_ratio,MACD,close,price_pct_variation
0,2022-05-09 07:00:00,0.994641,0.828039,2.380893,0.779677,44.582047,0.543471,-0.294209,46.799999,-0.058161
1,2022-05-09 08:00:00,1.003814,0.857163,0.233695,0.675581,40.449449,0.533224,0.280702,45.810001,-0.021154
2,2022-05-09 09:00:00,1.009930,0.863979,18.925254,0.646666,42.857138,0.767013,0.437704,46.610001,0.017463
3,2022-05-09 10:00:00,1.019398,0.733123,20.560760,0.536419,42.599277,0.529466,0.496468,46.680000,0.001502
4,2022-05-09 11:00:00,1.032894,0.793419,6.074813,0.235683,42.331838,0.382717,0.639227,46.060001,-0.013282
...,...,...,...,...,...,...,...,...,...,...
624,2022-08-12 10:00:00,1.001419,0.925101,30.635776,0.365133,54.434269,0.335619,0.072268,45.340000,-0.001102
625,2022-08-12 11:00:00,1.005124,0.869198,27.219067,0.243607,54.601282,0.251376,0.103583,45.310001,-0.000662
626,2022-08-12 12:00:00,1.007714,1.070805,0.000000,0.199832,48.275850,0.322222,0.152951,45.139999,-0.003752
627,2022-08-12 13:00:00,1.007452,0.849999,8.666484,0.324841,42.708282,0.947730,0.169126,45.169998,0.000665
628,2022-08-12 13:16:57,1.008137,0.765150,9.333293,0.417391,46.792480,0.294778,0.169431,45.180000,0.000221

# Infos sur les datasets

In [5]:
social.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971 entries, 0 to 970
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          971 non-null    object
 1   score         971 non-null    int64
 2   upvote_ratio  971 non-null    float64
 3   num_comments  971 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.5+ KB

In [6]:
technical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 629 entries, 0 to 628
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 629 non-null    object
 1   SMA_ratio            629 non-null    float64
 2   SMA_Volume_Ratio     629 non-null    float64
 3   Stochastic_15        629 non-null    float64
 4   Stochastic_Ratio     629 non-null    float64
 5   RSI_15               629 non-null    float64
 6   RSI_ratio            629 non-null    float64
 7   MACD                 629 non-null    float64
 8   close                629 non-null    float64
 9   price_pct_variation  629 non-null    float64
dtypes: float64(9), object(1)
memory usage: 49.3+ KB

# Conversion des heures

In [7]:
social["date"] =  pd.to_datetime(social["date"], format="%Y-%m-%d %H:%M:%S")

In [8]:
social['date'] = social['date'].dt.strftime('%Y-%m-%d %H:00:00')
social

                    date  score  upvote_ratio  num_comments
0    2022-08-12 06:00:00      1          0.57             8
1    2022-08-12 05:00:00      1          0.67             0
2    2022-08-12 04:00:00      0          0.50             0
3    2022-08-11 20:00:00      3          0.67             1
4    2022-08-11 15:00:00      8          0.90             3
..                   ...    ...           ...           ...
966  2022-05-10 03:00:00      0          0.33             0
967  2022-05-10 01:00:00      4          0.75            13
968  2022-05-10 00:00:00      0          0.47             2
969  2022-05-09 19:00:00      0          0.50             0
970  2022-05-09 15:00:00      1          1.00             1

[971 rows x 4 columns]

In [9]:
social = social.groupby('date').mean().reset_index()

In [10]:
social

                    date  score  upvote_ratio  num_comments
0    2022-05-09 15:00:00    1.0          1.00           1.0
1    2022-05-09 19:00:00    0.0          0.50           0.0
2    2022-05-10 00:00:00    0.0          0.47           2.0
3    2022-05-10 01:00:00    4.0          0.75          13.0
4    2022-05-10 03:00:00    0.0          0.33           0.0
..                   ...    ...           ...           ...
772  2022-08-11 15:00:00    8.0          0.90           3.0
773  2022-08-11 20:00:00    3.0          0.67           1.0
774  2022-08-12 04:00:00    0.0          0.50           0.0
775  2022-08-12 05:00:00    1.0          0.67           0.0
776  2022-08-12 06:00:00    1.0          0.57           8.0

[777 rows x 4 columns]

In [11]:
dataset = technical.merge(social, left_on='date', right_on='date', how='inner')
dataset

,date,SMA_ratio,SMA_Volume_Ratio,Stochastic_15,Stochastic_Ratio,RSI_15,RSI_ratio,MACD,close,price_pct_variation,score,upvote_ratio,num_comments
0,2022-05-09 15:00:00,1.041919,1.182649,0.166917,0.526217,28.666635,0.000000,1.231406,44.099998,-0.009656,1.000000,1.000000,1.000000
1,2022-05-10 13:00:00,1.028755,0.671700,2.588250,1.390281,23.609213,1.469117,1.118570,42.910000,-0.016277,3.000000,1.000000,3.000000
2,2022-05-11 11:00:00,1.021100,1.033977,3.124987,0.639191,27.321665,0.000000,1.235393,41.160000,-0.003390,18.000000,0.930000,7.000000
3,2022-05-11 14:00:00,1.036010,1.588858,33.333333,0.716488,37.988179,0.976658,1.104129,41.560001,0.006539,6.333333,0.936667,0.333333
4,2022-05-13 07:00:00,0.985714,0.801123,94.746670,1.141661,63.345183,1.288558,-0.254300,43.549999,0.036411,1.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,2022-08-10 10:00:00,1.012250,0.999331,32.015880,1.265372,34.304250,1.518278,0.333656,44.880001,-0.005319,1.000000,1.000000,0.000000
172,2022-08-10 14:00:00,1.003614,0.931566,40.692557,1.539123,27.960503,1.503152,0.182637,45.009998,-0.000888,4.000000,0.700000,2.000000
173,2022-08-11 11:00:00,0.991303,0.584129,88.709730,1.102270,65.714309,1.071834,-0.164244,45.720001,0.001533,1.000000,1.000000,0.000000
174,2022-08-11 14:00:00,0.989692,1.079609,69.832367,1.079113,66.887465,0.940186,-0.293623,46.000000,-0.005620,0.000000,0.500000,0.000000
175,2022-08-11 15:00:00,0.989319,1.133512,72.625619,1.034290,65.870352,1.089096,-0.281971,46.049999,0.001087,8.000000,0.900000,3.000000

In [12]:
dataset.to_csv('dataset_social_technical_1h.csv', index=False)