In [1]:
import pandas as pd
import numpy as np

In [2]:
social = pd.read_csv('/content/ubisoft_reddit_sentiment_analysis.csv')
technical = pd.read_csv('/content/Dataset_2017_2022.csv')

In [6]:
social.info()
technical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1624 entries, 0 to 1623
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  1624 non-null   datetime64[ns]
 1   title_vader_compound  1624 non-null   float64
 2   title_roberta_neg     1624 non-null   float64
 3   title_roberta_neu     1624 non-null   float64
 4   title_roberta_pos     1624 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 63.6 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437 entries, 0 to 1436
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 1437 non-null   datetime64[ns]
 1   SMA_ratio            1437 non-null   float64
 2   SMA_Volume_Ratio     1437 non-null   float64
 3   Stochastic_15        1437 non-null   float64
 4   Stochastic_Ratio     1437 non-null   float64
 5   RSI_15               1437 non-null   float64
 6   RSI_ratio            1437 non-null   float64
 7   MACD                 1437 non-null   float64
 8   price_pct_variation  1437 non-null   float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 101.2 KB

In [5]:
social["date"] =  pd.to_datetime(social["date"], format="%Y-%m-%d")
technical["date"] =  pd.to_datetime(technical["date"], format="%d/%m/%Y")

In [7]:
social

,date,title_vader_compound,title_roberta_neg,title_roberta_neu,title_roberta_pos
0,2017-01-01,0.484300,0.241092,0.644713,0.114195
1,2017-01-02,-0.167350,0.777352,0.212674,0.009974
2,2017-01-03,-0.158900,0.352967,0.593894,0.053139
3,2017-01-04,-0.170000,0.455775,0.529359,0.014867
4,2017-01-05,0.440400,0.090196,0.465504,0.444300
...,...,...,...,...,...
1619,2022-07-27,0.135070,0.314972,0.545255,0.139774
1620,2022-07-28,-0.051575,0.359041,0.520645,0.120313
1621,2022-07-29,0.038482,0.217296,0.714671,0.068033
1622,2022-07-30,0.108950,0.309946,0.504471,0.185583
1623,2022-07-31,-0.176375,0.333874,0.595047,0.071079

In [11]:
technical

,date,SMA_ratio,SMA_Volume_Ratio,Stochastic_15,Stochastic_Ratio,RSI_15,RSI_ratio,MACD,price_pct_variation
0,2017-01-02,0.977920,0.492545,97.353507,1.120103,72.819253,1.203449,-0.581692,0.005325
1,2017-01-03,0.980867,0.742189,75.999927,0.982504,74.418628,0.745917,-0.467702,-0.012655
2,2017-01-04,0.986854,0.853517,53.600042,0.811504,60.256465,0.399212,-0.265055,-0.016691
3,2017-01-05,0.999960,1.239421,3.183555,0.595832,45.764364,0.145136,0.161075,-0.043195
4,2017-01-06,1.013771,1.492017,8.742321,0.412543,39.408387,0.153017,0.484190,-0.012355
...,...,...,...,...,...,...,...,...,...
1432,2022-08-04,0.973560,1.468748,63.784240,1.028058,73.050604,1.118484,-1.167292,0.109553
1433,2022-08-05,0.961970,1.472961,60.960711,0.985775,73.705998,1.064448,-1.715107,-0.005140
1434,2022-08-08,0.951176,1.523725,59.388655,0.970349,70.312493,1.078407,-1.925703,-0.003875
1435,2022-08-09,0.937794,1.542949,47.510918,1.097616,64.198369,1.219955,-1.684980,-0.029393
1436,2022-08-10,0.929956,1.487341,50.480352,1.026554,62.517781,1.176486,-1.545184,0.007571

In [12]:
dataset = technical.merge(social, left_on='date', right_on='date', how='inner')
dataset

,date,SMA_ratio,SMA_Volume_Ratio,Stochastic_15,Stochastic_Ratio,RSI_15,RSI_ratio,MACD,price_pct_variation,title_vader_compound,title_roberta_neg,title_roberta_neu,title_roberta_pos
0,2017-01-02,0.977920,0.492545,97.353507,1.120103,72.819253,1.203449,-0.581692,0.005325,-0.167350,0.777352,0.212674,0.009974
1,2017-01-03,0.980867,0.742189,75.999927,0.982504,74.418628,0.745917,-0.467702,-0.012655,-0.158900,0.352967,0.593894,0.053139
2,2017-01-04,0.986854,0.853517,53.600042,0.811504,60.256465,0.399212,-0.265055,-0.016691,-0.170000,0.455775,0.529359,0.014867
3,2017-01-05,0.999960,1.239421,3.183555,0.595832,45.764364,0.145136,0.161075,-0.043195,0.440400,0.090196,0.465504,0.444300
4,2017-01-06,1.013771,1.492017,8.742321,0.412543,39.408387,0.153017,0.484190,-0.012355,0.091800,0.307789,0.220473,0.471738
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136,2022-07-25,1.002685,1.209986,36.234424,1.274246,41.104287,1.254038,0.378743,-0.005596,-0.080971,0.406028,0.524844,0.069127
1137,2022-07-26,1.002241,1.184361,18.472426,1.045688,33.638436,1.039437,0.582854,-0.024468,0.104591,0.365408,0.551790,0.082802
1138,2022-07-27,1.004621,1.135493,40.497689,0.901518,39.848804,0.721116,0.521383,0.018811,0.135070,0.314972,0.545255,0.139774
1139,2022-07-28,1.004128,1.092158,60.382491,0.848367,37.904137,1.042816,0.376300,0.010340,-0.051575,0.359041,0.520645,0.120313
1140,2022-07-29,1.001406,1.063534,64.890999,0.853728,47.368419,1.206349,0.178073,0.011452,0.038482,0.217296,0.714671,0.068033

In [13]:
dataset.to_csv('dataset_social_technical_1d.csv', index=False)