# Importation des librairies

In [1]:
import pandas as pd
import numpy as np

# Récupération des datasets

In [2]:
social = pd.read_csv('/content/social_features.csv')
technical = pd.read_csv('/content/ubisoft_dataset_1h.csv')

# Lecture des datasets

In [3]:
social

                    date  score  upvote_ratio  num_comments
0    2022-08-12 06:42:30      1          0.57             8
1    2022-08-12 05:34:11      1          0.67             0
2    2022-08-12 04:45:33      0          0.50             0
3    2022-08-11 20:22:48      3          0.67             1
4    2022-08-11 15:57:24      8          0.90             3
..                   ...    ...           ...           ...
966  2022-05-10 03:21:51      0          0.33             0
967  2022-05-10 01:44:35      4          0.75            13
968  2022-05-10 00:11:14      0          0.47             2
969  2022-05-09 19:27:18      0          0.50             0
970  2022-05-09 15:25:14      1          1.00             1

[971 rows x 4 columns]

In [4]:
technical

,date,SMA_ratio,SMA_Volume_Ratio,Stochastic_15,Stochastic_Ratio,RSI_15,RSI_ratio,MACD,close,price_pct_variation
0,2022-05-09 09:00:00+02:00,0.994641,0.828039,2.380893,0.779677,44.582047,0.543471,-0.294209,46.799999,-0.058161
1,2022-05-09 10:00:00+02:00,1.003814,0.857163,0.233695,0.675581,40.449449,0.533224,0.280702,45.810001,-0.021154
2,2022-05-09 11:00:00+02:00,1.009930,0.863979,18.925254,0.646666,42.857138,0.767013,0.437704,46.610001,0.017463
3,2022-05-09 12:00:00+02:00,1.019398,0.733123,20.560760,0.536419,42.599277,0.529466,0.496468,46.680000,0.001502
4,2022-05-09 13:00:00+02:00,1.032894,0.793419,6.074813,0.235683,42.331838,0.382717,0.639227,46.060001,-0.013282
...,...,...,...,...,...,...,...,...,...,...
620,2022-08-11 17:00:00+02:00,0.989319,1.133512,72.625619,1.034290,65.870352,1.089096,-0.281971,46.049999,0.001087
621,2022-08-12 09:00:00+02:00,0.990422,1.216864,56.424458,0.917973,64.765076,0.799108,-0.203008,45.759998,-0.006298
622,2022-08-12 10:00:00+02:00,0.993997,1.202754,25.433453,0.705577,54.651165,0.444374,-0.042237,45.250000,-0.011145
623,2022-08-12 11:00:00+02:00,0.998394,1.233371,27.745646,0.430128,51.851895,0.150932,0.044971,45.290001,0.000884
624,2022-08-12 11:09:25+02:00,1.001772,0.763698,29.479680,0.334312,54.285725,0.240273,0.087720,45.320000,0.000662

# Infos sur les datasets

In [5]:
social.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971 entries, 0 to 970
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          971 non-null    object
 1   score         971 non-null    int64
 2   upvote_ratio  971 non-null    float64
 3   num_comments  971 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.5+ KB

In [6]:
technical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 625 non-null    object
 1   SMA_ratio            625 non-null    float64
 2   SMA_Volume_Ratio     625 non-null    float64
 3   Stochastic_15        625 non-null    float64
 4   Stochastic_Ratio     625 non-null    float64
 5   RSI_15               625 non-null    float64
 6   RSI_ratio            625 non-null    float64
 7   MACD                 625 non-null    float64
 8   close                625 non-null    float64
 9   price_pct_variation  625 non-null    float64
dtypes: float64(9), object(1)
memory usage: 49.0+ KB

# Conversion des heures